.quotes__container{
	background:#fff;
	height: 350px;
	padding: 10px;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	column-gap: 10px;
	row-gap: 10px;
	overflow: scroll;
}

.quotes__item{
	height: 250px;
	border-radius: 10px;
	color: #fff;
	font-family:monospace;
}
.quotes__item:hover{
	filter: grayscale(0.4);
}
.quote__title{
	font-weight: 1000;
	margin-left: auto;
	margin-right: auto;
	width:90%;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.quotes__check{
	width:20px;
	height:20px;
	border:1px solid rgb(74, 231, 165);
	position: relative;
	top:20px;
	right:calc(-100% + 25px);
	border-radius:50%;
}
.quotes__check.checked{
	background-color:rgb(74, 231, 165);
}

.quotes__button{
	width:144px;
	height:40px;
	position: absolute;
	background: rgb(218, 82, 111);
	border:none;
	border-radius:10px;
	color:#fff;
	left: calc(50% - 72px);
	top:305px;
}

.quotes__noQuote{
	width:80%;
	margin:auto;
	margin-top:20%;
	text-align: center;
	color: rgb(218, 82, 111);
}
